form .ui-input-text,button {
	border-radius: 3px !important;
}

.ui-input-text .ui-body-inherit .ui-corner-all .ui-shadow-inset {
	width: 50% !important;
}

#content-index {
	/*background-color: #00cdc6 !important;*/
	background: url(../img/bg.png);
	width: 100%;
	height: 100vh;
	padding: 0 !important;
}
#img-logo {
	margin:0 auto;
	width: 300px;
	text-align: center;
}
#img-logo img {
	max-width: 250px;
}
#info-calculate {
	margin-top: -20px;
}
#info-calculate .btn_next {
	background-color: #f05053;
	color: #ffffff;
	border: 0px;
	border-radius: 3px;
}
#info-calculate .btn_next:hover {
	background-color: #fe6161;
	color: #ffffff;
	border: 0px;
}
#info-calculate input {
	background: #ffffff;

	font-size: 16px !important;
} 



.btn_next {
	margin-top: 30px;
}
#img- {
	background: #ffffff;
}



#btn_black #section .ui-btn {
	background: #333 ;
	border-bottom: 5px solid #333 !important;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

#btn_black #section .ui-btn:hover {
	background: #444 ;
	border-bottom: 5px solid #444 !important;
}
#btn_black #section .ui-btn:visited {
	background: #333 ;
	border-bottom: 5px solid #333 !important;
}
#btn_black #section .ui-btn-active {
	background: #444 ;
	border-bottom: 5px solid #00cdc6 !important;
}



#btn_black .ui-btn {
	background: #333 ;
	border: 0px solid #fff !important;
}
#btn_black .ui-btn:hover {
	background: #444 ;
}
#btn_black .ui-btn:visited{
	background: #333 ;
}
#btn_black .ui-btn-active {
	background: #444 ;
}


#btn_black .ui-btn-active {
	background: #444;
}
#btn_black .ui-btn-active:hover {
	background: #333 !important;
}
#btn_black .ui-btn-active:visited {
	background: #444;
}
#btn_black .ui-btn-active:active {
	background: #444;
}







#btn_white .ui-btn {
	background: #eee !important;
	color: #004853;
	border: 1px solid #ddd !important;
}
#btn_white .ui-btn:hover {
	background: #eee !important;
}
#btn_white .ui-btn:visited {
	background: #eee !important;
}
#btn_white .ui-btn-active {
	background: #eee !important;
}



.kcal-show {
	width: 100%;
	position: absolute;
	text-align: center;
	z-index: 2;
	color: #fff;
	margin-top: 12px;
}
.kcal-show h1{
	font-size: 50px !important;
}



a:visited, a:link, a:hover{
	text-decoration: none;
}
.center {
	text-align: center;
}
h1 {
	font-weight: bold;
}
.no-padding{
	padding: 0px;
}
.margin-top-25 {
	margin-top: 25px;
}


/*Table*/


.head-table-custom {
	background: #fff;
	padding: 0 20px;
	
}
.head-table-custom div {
	float: left;
	padding: 10px 0;
	font-size: 24px;
}
.head-table-custom a {
	float: right;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.table-custom {
	background:#fff;
	padding-bottom:20px;
}
.table-custom .left {
	text-align: left;
	padding-left: 20px;
}
.table-custom .right {
	text-align: right;
	padding-right: 20px;
}
#tb_brakefast.table-custom tbody {
	border-bottom: 10px solid #fff;
	border-top: 5px solid #87c33f;
}
#tb_brakefast.table-custom tbody tr:nth-child(even) {
   background-color: #edf6e2;
}


#tb_lunch.table-custom tbody {
	border-bottom: 10px solid #fff;
	border-top: 5px solid #fb8402;
}
#tb_lunch.table-custom tbody tr:nth-child(even) {
   background-color: #fff2e5;
}


#tb_dinner.table-custom tbody {
	border-bottom: 10px solid #fff;
	border-top: 5px solid #00cdc6;
}
#tb_dinner.table-custom tbody tr:nth-child(even) {
   background-color: #d7eeed;
}



#tb_each.table-custom tbody {
	border-bottom: 10px solid #fff;
	border-top: 5px solid #fe4e51;
}
#tb_each.table-custom tbody tr:nth-child(even) {
   background-color: #fde3e4;
}


/*-------------- PROGRESS BAR -------------*/

/*
 * Base
 */

.progressbar{
    
    width:100%;
    height:80px;
    /*margin:0 auto 20px auto;*/
    padding:0px;
    position: relative;
    z-index: 1;
    background:#ccc;
    /*border-width:1px;
    border-style:solid;*/
    border-color: #aaa #bbb #fff #bbb;    
    box-shadow:inset 0px 2px 3px #bbb;    
}

/*.progressbar,
.progressbar-inner{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
}*/

.progressbar-inner{
    width:77%; /* Change to actual percentage */
    height:100%;
    background:#999;
    
    background-size:18px 18px;
    background-color: #87c33f;   
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
                        transparent 75%, transparent);
    
    box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
}

/*
 * Color Options
 */
.progressbar-green .progressbar-inner{
    background-color:#87c33f;
    width:50%;
}

.progressbar-orange .progressbar-inner{
    background-color:#fb8402;
    width:90%;
}

.progressbar-yellow .progressbar-inner{
    background-color:#fb5;
    width:80%;
}

.progressbar-red .progressbar-inner{
    background-color:#f67;
    width:70%;
}

/*
 * Transition - just for fun
 */
.progressbar:hover .progressbar-inner{
    /*width:100%;   */
}
.progressbar .progressbar-inner,
.progressbar:hover .progressbar-inner{
    -webkit-transition:width .5s ease-in;  
    -moz-transition:width .5s ease-in; 
    -o-transition:width .5s ease-in; 
    transition:width .5s ease-in; 
}


.icon-gender,.radio-gender {
	float: left;
}
.icon-gender {
	background: #fff;
}
.icon-gender img {
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 15px;
}


.header-graph {
	width: 100%;
	text-align: center;
}
.header-graph .no-active {
	background: #fff !important;
	color: #000 !important;
	border-color: #fff !important;
}
.header-graph .no-active:hover {
	background: #00cdc6 !important;
	color: #fff !important;
	border-color: #00cdc6 !important;
}


.graph-footer {
	background: #fc4e50 !important;
}
.graph-footer div {
	float: left;
	width: 33.33%;
	text-align: center;
	padding: 15px 0;
}
.graph-footer div * {
	margin: 0;
	padding: 0;
}
.graph-footer div h1 {
	line-height: 0.75;
}